In [34]:
import numpy as np
import pandas as pd
import math

In [35]:
df = pd.read_csv('/content/drive/MyDrive/DMML/Codebasics/weather.numeric.csv')
df.head(10)

    outlook  temperature  humidity  windy play
0     sunny         85.0      85.0  False   no
1     sunny         80.0       NaN   True   no
2  overcast         83.0       NaN  False  yes
3     rainy         70.0      96.0  False  yes
4     rainy          NaN      80.0  False  yes
5     rainy         65.0      70.0   True   no
6  overcast         64.0      65.0   True  yes
7     sunny         72.0       NaN  False   no
8     sunny          NaN      70.0    NaN  NaN
9     rainy         75.0      80.0    NaN  NaN

In [36]:
df.isnull().sum()

outlook        0
temperature    2
humidity       4
windy          3
play           3
dtype: int64

In [27]:
math.floor(df['temperature'].mean())

74

In [37]:
df1 = df

In [38]:
df1['temperature'].fillna(100, inplace=True)
df1

     outlook  temperature  humidity  windy play
0      sunny         85.0      85.0  False   no
1      sunny         80.0       NaN   True   no
2   overcast         83.0       NaN  False  yes
3      rainy         70.0      96.0  False  yes
4      rainy        100.0      80.0  False  yes
5      rainy         65.0      70.0   True   no
6   overcast         64.0      65.0   True  yes
7      sunny         72.0       NaN  False   no
8      sunny        100.0      70.0    NaN  NaN
9      rainy         75.0      80.0    NaN  NaN
10     sunny         75.0      70.0    NaN  NaN
11  overcast         72.0      90.0   True  yes
12  overcast         81.0       NaN  False  yes
13     rainy         71.0      91.0   True   no

In [5]:
df['temperature'].fillna(math.floor(df['temperature'].mean()), inplace=True)

In [6]:
df['humidity'].fillna(math.floor(df['humidity'].mean()), inplace=True)

In [7]:
df.isnull().sum()

outlook        0
temperature    0
humidity       0
windy          3
play           3
dtype: int64

In [8]:
df.windy.value_counts()

False    6
True     5
Name: windy, dtype: int64

In [9]:
df['windy'].fillna('False', inplace=True)

In [10]:
df.play.value_counts()

yes    6
no     5
Name: play, dtype: int64

In [11]:
df['play'].fillna('yes', inplace=True)



```
# Label Encoding

```

In [12]:
df.head(10)

    outlook  temperature  humidity  windy play
0     sunny         85.0      85.0  False   no
1     sunny         80.0      79.0   True   no
2  overcast         83.0      79.0  False  yes
3     rainy         70.0      96.0  False  yes
4     rainy         74.0      80.0  False  yes
5     rainy         65.0      70.0   True   no
6  overcast         64.0      65.0   True  yes
7     sunny         72.0      79.0  False   no
8     sunny         74.0      70.0  False  yes
9     rainy         75.0      80.0  False  yes

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()
df['Encoded Outlook'] = le.fit_transform(df['outlook'])
df

     outlook  temperature  humidity  windy play  Encoded Outlook
0      sunny         85.0      85.0  False   no                2
1      sunny         80.0      79.0   True   no                2
2   overcast         83.0      79.0  False  yes                0
3      rainy         70.0      96.0  False  yes                1
4      rainy         74.0      80.0  False  yes                1
5      rainy         65.0      70.0   True   no                1
6   overcast         64.0      65.0   True  yes                0
7      sunny         72.0      79.0  False   no                2
8      sunny         74.0      70.0  False  yes                2
9      rainy         75.0      80.0  False  yes                1
10     sunny         75.0      70.0  False  yes                2
11  overcast         72.0      90.0   True  yes                0
12  overcast         81.0      79.0  False  yes                0
13     rainy         71.0      91.0   True   no                1



```
# One Hot Encoding
```

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [30]:
ohe = OneHotEncoder(sparse=False,
                    handle_unknown='error',
                    drop='first')

In [31]:
oh = ohe.fit_transform(df[['outlook']])
oh

array([[0., 1.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [1., 0.]])

In [18]:
dfn = pd.DataFrame(oh)

In [19]:
dfn

      0    1
0   0.0  1.0
1   0.0  1.0
2   0.0  0.0
3   1.0  0.0
4   1.0  0.0
5   1.0  0.0
6   0.0  0.0
7   0.0  1.0
8   0.0  1.0
9   1.0  0.0
10  0.0  1.0
11  0.0  0.0
12  0.0  0.0
13  1.0  0.0

In [20]:
df = df.join(dfn)
df

     outlook  temperature  humidity  windy play  Encoded Outlook    0    1
0      sunny         85.0      85.0  False   no                2  0.0  1.0
1      sunny         80.0      79.0   True   no                2  0.0  1.0
2   overcast         83.0      79.0  False  yes                0  0.0  0.0
3      rainy         70.0      96.0  False  yes                1  1.0  0.0
4      rainy         74.0      80.0  False  yes                1  1.0  0.0
5      rainy         65.0      70.0   True   no                1  1.0  0.0
6   overcast         64.0      65.0   True  yes                0  0.0  0.0
7      sunny         72.0      79.0  False   no                2  0.0  1.0
8      sunny         74.0      70.0  False  yes                2  0.0  1.0
9      rainy         75.0      80.0  False  yes                1  1.0  0.0
10     sunny         75.0      70.0  False  yes                2  0.0  1.0
11  overcast         72.0      90.0   True  yes                0  0.0  0.0
12  overcast         81.0      79.0  False  yes                0  0.0  0.0
13     rainy         71.0      91.0   True   no                1  1.0  0.0

In [21]:
df

     outlook  temperature  humidity  windy play  Encoded Outlook    0    1
0      sunny         85.0      85.0  False   no                2  0.0  1.0
1      sunny         80.0      79.0   True   no                2  0.0  1.0
2   overcast         83.0      79.0  False  yes                0  0.0  0.0
3      rainy         70.0      96.0  False  yes                1  1.0  0.0
4      rainy         74.0      80.0  False  yes                1  1.0  0.0
5      rainy         65.0      70.0   True   no                1  1.0  0.0
6   overcast         64.0      65.0   True  yes                0  0.0  0.0
7      sunny         72.0      79.0  False   no                2  0.0  1.0
8      sunny         74.0      70.0  False  yes                2  0.0  1.0
9      rainy         75.0      80.0  False  yes                1  1.0  0.0
10     sunny         75.0      70.0  False  yes                2  0.0  1.0
11  overcast         72.0      90.0   True  yes                0  0.0  0.0
12  overcast         81.0      79.0  False  yes                0  0.0  0.0
13     rainy         71.0      91.0   True   no                1  1.0  0.0